<div class="d-flex vh-100 flex-column justify-content-center">
  <h1 class="text-center mb-5">Your Budget</h1>
  <div class="text-center mt-5">
    <%= link_to "Login", new_user_session_path, class: 'btn btn-primary w-75 mb-3'%>
    <%= link_to "Register", new_user_registration_path, class: 'btn btn-primary w-75'%>
  </div>
</div>
