<div class="d-flex vh-100 flex-column justify-content-center" style="background-color:#C2C3D0">
  <h1 class="text-center mb-5">Your Budget</h1>
  <div class="text-center mt-5">
    <%= link_to "LOG IN", new_user_session_path, class: 'btn btn-primary w-75 mb-3'%>
    <%= link_to "SIGN UP", new_user_registration_path, class: 'btn w-75'%>
  </div>
</div>
